html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: Mulish, Arial, sans-serif;
  font-size: 1.6rem;
}

p {
  margin: .4rem 0;
}

.MuiTypography-root.MuiTypography-h1 {
  margin: .3rem 0;
}

a {
  text-decoration: none;
}